<div [appLoading]="loading$ | async">
  <div class="actions">
    <button class="btn text-secondary" type="button" title="Delete" aria-label="Delete">
      <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
    </button>
    <a class="btn text-dark" [routerLink]="['./edit']" title="Edit" aria-label="Edit">
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </a>
  </div>

  <article class="post">
    <h2 class="text-center">{{ (post$ | async).title }}</h2>
    <p>{{ (post$ | async).body }}</p>
  </article>
</div>
