<div class="container">
  <header>
    <div class="header-logo">
      <img src="assets/wiki-catalog.png" alt="Wiki Catalog" width="100" height="100" />
    </div>
    <div class="header-content">
      <h1>Wiki Catalog</h1>
      <p class="text-muted small">by Kateryna Metelova</p>
    </div>
  </header>
  <main>
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <small class="text-muted">@ 2019 <a class="text-muted" href="https://github.com/Skayona" target="_blank" rel="noopener">https://github.com/Skayona</a></small>
  </footer>
</div>
