<article>
  <h2 class="text-center">Latest posts</h2>

  <div [appLoading]="loading$ | async">
    <div class="actions">
      <a class="btn btn-outline-success" [routerLink]="['./create']">Create post</a>
    </div>

    <p *ngIf="!(posts$ | async).length" class="text-center">There is no posts yet.</p>

    <ul *ngIf="(posts$ | async).length">
      <li *ngFor="let post of posts$ | async">
        <app-post-item
          [post]="post"
        ></app-post-item>
      </li>
    </ul>
  </div>

</article>
